*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(151, 188, 176);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;    
    justify-content: center;
    align-items: center;
}
.boxContainer{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    background-color: rgb(248, 242, 230);
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: rgb(164, 47, 47);
}
.resetBtn{
    padding: 0.8rem;
    font-size: 1.25rem;
    background-color: rgb(89, 89, 230);
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    color: wheat;
    border: none;
    border-radius: 1rem;
    
}
.newGameBtn{   
    padding: 0.8rem;
    font-size: 1.25rem;
    background-color: rgb(89, 89, 230);
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    color: wheat;
    border: none;
    border-radius: 1rem;
}
.msgContainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#msg{
    font-size: 7vmin;
    color: rgb(20, 56, 174);
    padding: 1rem;
}
.hide{
    display: none;
}
.playerX{
    color: rgb(120 148 18);
}
